<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Hello</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>com.test.UploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/UploadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HelloWorld</display-name>
    <servlet-name>HelloWorld</servlet-name>
    <servlet-class>com.test.HelloWorld</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloWorld</servlet-name>
    <url-pattern>/HelloWorld</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HelloForm</display-name>
    <servlet-name>HelloForm</servlet-name>
    <servlet-class>com.test.HelloForm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloForm</servlet-name>
    <url-pattern>/HelloForm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckBox</display-name>
    <servlet-name>CheckBox</servlet-name>
    <servlet-class>com.test.CheckBox</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckBox</servlet-name>
    <url-pattern>/CheckBox</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReadParams</display-name>
    <servlet-name>ReadParams</servlet-name>
    <servlet-class>com.test.ReadParams</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReadParams</servlet-name>
    <url-pattern>/ReadParams</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DrawTable</display-name>
    <servlet-name>DrawTable</servlet-name>
    <servlet-class>com.test.DrawTable</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DrawTable</servlet-name>
    <url-pattern>/DrawTable</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Response</display-name>
    <servlet-name>Response</servlet-name>
    <servlet-class>com.test.Response</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Response</servlet-name>
    <url-pattern>/Response</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Cookie</display-name>
    <servlet-name>Cookie</servlet-name>
    <servlet-class>com.test.Cookie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Cookie</servlet-name>
    <url-pattern>/Cookie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Number</display-name>
    <servlet-name>Number</servlet-name>
    <servlet-class>com.test.Number</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Number</servlet-name>
    <url-pattern>/Number</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SessionTrack</display-name>
    <servlet-name>SessionTrack</servlet-name>
    <servlet-class>com.test.SessionTrack</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionTrack</servlet-name>
    <url-pattern>/SessionTrack</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Validation</display-name>
    <servlet-name>Validation</servlet-name>
    <servlet-class>com.test.Validation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Validation</servlet-name>
    <url-pattern>/Validation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FirstServlet</display-name>
    <servlet-name>FirstServlet</servlet-name>
    <servlet-class>com.test.FirstServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FirstServlet</servlet-name>
    <url-pattern>/FirstServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginPage</display-name>
    <servlet-name>LoginPage</servlet-name>
    <servlet-class>com.test.LoginPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginPage</servlet-name>
    <url-pattern>/LoginPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginPage2</display-name>
    <servlet-name>LoginPage2</servlet-name>
    <servlet-class>com.test.LoginPage2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginPage2</servlet-name>
    <url-pattern>/LoginPage2</url-pattern>
  </servlet-mapping>
</web-app>